**/dist
**/tmp
**/out-tsc
**/bazel-out
**/.angular
**/__pycache__
**/node_modules
**/npm-debug.log
**/yarn-error.log
**/.idea/
**/.project
**/.classpath
**/.c9/
**/*.launch
**/.settings/
**/*.sublime-workspace
**/.vscode
**/.DS_Store
**/Thumbs.db
