services:
  db:
    image: postgis/postgis
    ports:
      - '54320:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_PASSWORD=admin
    restart: unless-stopped

  api:
    build: ./backend
    ports:
      - '5000:5000'
    volumes:
      - './backend:/app'
    depends_on:
     - db
    environment:
      - DB_HOST=db
    restart: on-failure:10

  web:
    build: ./frontend
    ports:
      - '4200:4200'
    volumes:
      - './frontend/src/:/app/src/'
      - 'angular_data:/app/.angular/'

volumes:
  postgres_data:
  angular_data: